# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.map

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vscode


# Project specific
/build
/dist
dumpling.rpx
dumpling.elf

source/cfw/ios_kernel/ios_kernel.bin
source/cfw/ios_kernel/ios_kernel.elf
source/cfw/ios_kernel/ios_kernel.s
source/cfw/ios_kernel/ios_kernel.h

source/cfw/ios_mcp/ios_mcp.bin
source/cfw/ios_mcp/ios_mcp.elf
source/cfw/ios_mcp/ios_mcp.s
source/cfw/ios_mcp/ios_mcp.h

source/cfw/ios_odm/ios_odm.bin
source/cfw/ios_odm/ios_odm.elf
source/cfw/ios_odm/ios_odm.s
source/cfw/ios_odm/ios_odm.h

source/cfw/ios_usb/ios_usb.bin
source/cfw/ios_usb/ios_usb.elf
source/cfw/ios_usb/ios_usb.s
source/cfw/ios_usb/ios_usb.h
